/* Induvial styles for the menu page */
 
h1{
    text-align:center;
    margin-top: 30px;
}

p{
    text-align:center;
    padding:20px;
}
  
/*  MENU  */
.menu-section-title {
  width:100%;
  margin:40px 20px 10px;
  font-size:28px;
  border-bottom:3px solid black;
  padding-bottom:5px;
}


.menu-items {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
}


.menu-card {
  border:1px solid #ccc;
  border-radius:8px;
  padding:10px;
  width:250px;
  text-align:center;
  background:white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}


.menu-card img{
  width:100%;
  border-radius:8px;
}


.menu-card h3 {
  margin:10px 0 5px;
}


.menu-card p {
  margin:5px 0;
}
